@use "../../Variables/variables.scss";

.section-img {
  height: 100vh;

  .self-img {
    background-image: url("../../../img/julia-peossal.jpeg");
    height: 70vh;

    h1 {
      position: absolute;
      margin-top: 15rem;
      margin-left: 2rem;
      color: variables.$text-color;
      font-size: variables.$title-size;
    }
  }
  .clinic-img {
    height: 27vh;
  }
}

@media screen and (min-width: 450px) {
  .section-img {
    height: 98vh;
    display: flex;
    justify-content: space-between;
    gap: 1vw;

    .self-img {
      background-image: url("../../../img/julia-peossal.jpeg");
      height: 100%;
      width: 65vw;

      h1 {
        position: absolute;
        margin-top: 80vh;
        margin-left: 25vw;
        color: variables.$text-color;
        font-size: 6vh;
      }
    }
    .clinic-img {
      height: 100%;
      width: 35vw;
      margin-top: 0;
    }
  }
}
