@use "../../Variables/variables.scss";

.section-img {
    height: 100vh;
    
  .self-img {
    background-image: url('../../../img/julia-peossal.jpeg');
    height: 70vh;

    h1 {
      position: absolute;
      margin-top: 15rem;
      margin-left: 2rem;
      color: variables.$text-color;
      font-size: variables.$title-size;
    }
  }
  .clinic-img{
    height: 27vh;
  }
}
