$text-color:white;
$text-size:1rem;
$title-size:1.6rem;

$bg-body:#dab7a46f;
$bg-header:#c6937865;
$bg-content:#c693787c;
$bg-content-title:#995e3e86;
$bg-footer:#c6937866;
$nav-icon-hover-color:#5F3926;

$border-color:rgb(135, 125, 125);
$bg-filter:blur(10px);
