@use "../../Variables/variables.scss";
.content {
  background-color: variables.$bg-content;
  margin: 10px auto;
  color: variables.$text-color;
  animation: reveal 1s ease both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;

  @keyframes reveal {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 100%;
      height: 18rem;
      opacity: 1;
    }
  }

  h2 {
    text-align: center;
    padding: 0.6rem;
  }
  p {
    text-indent: 1rem;
    text-align: justify;
    margin: 0.5rem;
  }
}
