@use "../../Variables/variables.scss";
.content {
  width: 100%;
  height: 18rem;
  background-color: variables.$bg-content;
  margin: 10px auto;
  color: variables.$text-color;

  h2 {
    text-align: center;
    padding: 0.6rem;
  }
  p {
    text-indent: 1rem;
    text-align: justify;
    margin: 0.5rem;
  }
}
