@use "../../Variables/variables.scss";
@media screen and (max-width: 450px) {
  .logo-nav-d {
    display: none;
  }

  .nav-d ul {
    display: none;
  }
}

@media screen and (min-width: 450px) {
  .logo-nav-d {
    width: 10rem;
    background-image: url(/src/img/LogoPrincipal1-MARCADAGUABRANCA.png);
    background-size: cover;
    background-position: center;
  }
  .nav-d {
    color: variables.$text-color;

    ul {
      height: 100%;
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin-right: 7vw;
        font-size: 2vh;
      }

      li .active {
        text-decoration: underline;
      }

      li:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.1em; /* Espessura da linha */
        line-height: 1.5;
        color: variables.$text-color;
      }
    }
  }
}
