@use "../Variables/variables.scss";

header {
  background-color: variables.$bg-header;
  width: 100%;
  height: 3rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 999;
}
