@use "../Variables/variables.scss";

header {
  background-color: variables.$bg-header;
  width: 100%;
  height: 8rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;

  nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      height: 50%;
      color: variables.$nav-color;
      font-size:4rem;
      text-decoration: none;
    }

    .nav-icon{
      color:variables.$nav-color;
      font-size:4rem;
      height: 50%;

    }

    .nav-icon:hover {
    fill: variables.$nav-icon-hover-color; // Use a cor desejada para hover
    }
  }
}
