@use "../Variables/variables.scss";

footer {
  width: 100%;
  background-color: variables.$bg-footer;

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f392698;
    height: 7rem;

    .logo {
      background-image: url("../../img/Submark1-MARCADAGUABRANCA.png");
      width: 37vh;
      height: 37vh;
      background-size: cover;
    }
  }

  .section-footer {
    .about {
      display: flex;
      justify-content: space-around;
      color: variables.$text-color;

      h1 {
        text-align: center;
        font-size: variables.$title-size;
        color: variables.$text-color;
        padding: 0.5rem;
      }

      .social {
        width: 50%;
        border-right: 2px solid white;
        ul {
          width: 100%;
          height: 100%;

          li {
            width: 100%;
            height: 2rem;
            text-align: center;
            font-size: 1.2rem;
            list-style-type: none;

            a {
              text-decoration: none;
              color: variables.$text-color;
              margin-left: 1px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 0.3rem;
              margin-left: 0.3rem;
            }

            a:active {
              color: black;
            }
          }
        }
      }

      .about-us {
        width: 50%;
        li {
          font-size: 1.2rem;
          list-style-type: none;
          text-align: center;
        }
      }
    }

    .sub-header {
      margin-top: 0.6rem;
      border-top: 1.5px solid #5f392698;
      text-align: center;
    }
  }
}

@media screen and (min-width: 450px) {
  footer {
    aside {
      height: 20vh;

      .logo {
        width: 25vh;
        height: 25vh;
      }
    }
    .section-footer {
      .about-all {
        display: flex;
        height: 27vh;
        li a{
          text-decoration: none;
          color: inherit;
        }
        li:hover {
          text-decoration: underline;
          text-decoration-thickness: 4px;
        }

        .about {
          height: 100%;
          width: 50%;
          display: flex;

          .about-sub {
            width: 100%;
            height: 100%;
            h1 {
              width: 100%;
              font-size: 4vh;
            }
            .about-sub-social {
              width: 100%;
              height: 20vh;
              display: flex;

              .social {
                height: 100%;

                li {
                  display: flex;
                  justify-content: flex-start;
                  margin-left: 35%;
                }
              }
            }
          }
        }
      }
      .map-container {
        width: 50%;
      }
    }
  }
}
